.footer {
    display: flex;
    justify-content: space-between;
    height: var(--footer-height);
    padding: 0 16rem;
}

.footerLinks {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: auto;
}

.footerLinks a {
    color: white;
}