:root {
  --neutral-100: #fff;
  --background-colour: #051d4d;
  --header-bg: hsl(216 28% 7%/50%);
  --gradient-100: linear-gradient(93.23deg, #f778ba 2.35%, #79c0ff 76.99%);
  --footer-height: 1rem;
  --default-font-size: 1.25rem;
  --default-line-height: 1.75rem;
  --default-header-weight: 800;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background-colour);
  color: var(--neutral-100);
  min-height: calc(100% - var(--footer-height));
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

button {
  padding: 0.5rem var(--default-font-size);
  line-height: var(--default-line-height);
  font-size: 1rem;
  font-weight: 600;
  font-family: "Mona Sans", "MonaSansFallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background: var(--neutral-100);
  border-radius: 6px;
  cursor: pointer;
}

main {
  max-width: 100%;
}

.pretty-header {
  background: var(--gradient-100);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.01em;
  line-height: var(--default-line-height);
  font-weight: var(--default-header-weight);
}

h1 {
  font-weight: calc(var(--default-header-weight) - 200);
  font-size: var(--default-font-size);
}

h2 {
  font-size: calc(var(--default-font-size) * 2.5);
}

h3 {
  font-size: calc(var(--default-font-size) * 1.5);
}

h4 {
  font-size: calc(var(--default-font-size) * 2.5);
  line-height: var(--default-line-height) * 1;
}

.big-header {
  font-size: 4rem !important;
  letter-spacing: -.01em;
  line-height: calc(var(--default-line-height) * 2.5);
  margin: 0;
}

p {
  font-size: var(--default-font-size);
  font-weight: 400;
  line-height: var(--default-line-height);
}

section {
  background-image: url("https://accelerator.github.com/images/bg-stars.svg");
  background-position: 50%;
  overflow: hidden;
  padding: 8rem 0;
  position: relative;
  width: 100%;
  height: 100%;
}